<form onsubmit={{action "submitChanges"}}>
  <div class="field">
    <label for="">First Name</label>
    {{input type="text" placeholder="First Name"
          value=first}}
  </div>
  <div class="field">
    <label for="">Last Name</label>
    {{input value=last placeholder="Lastz Name"}}
  </div>
  <div class="form-footer">
    <button class="btn-submit">Save</button>
  </div>
</form>